*.mat
*checkpoint.ipynb
cluster_output/
*.Rhistory
*.DS_Store
*.gitignore
scratch/
data/*/intra_regional_fold_assignments.feather
data/*/UCLA_CNP_AROMA_2P_GMR_fMRI_TS.feather
data/*/ABIDE_ASD_FC1000_fMRI_TS.feather